<div class="navigation">
	<div class="logo">
  	<h1 class="page-title">bubstagram</h1>
	</div>
	<div class="navbar-icons">
		<%= image_tag("icons8-paper-airplane-60.png", class: "icon") %>
	</div>
</div>